/*color Palette
#085F63 - dark blue green
#49BEB7 - light green
#FACF5A - yellow
#FF5959  - red */

/*#82c8e2-blue
#a4d6ec-light blue
#fffec3-light yellow
#f5eea5- yellow
#ff9288- light red
#ff625e - red*/

/*SlideShow*/
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}

/*INDEX PAGE*/
.body-color{
  background-color: #e2e1dd;
}

.container-bg{
  background-color: #e2e1dd;
}

.text-gray{
  color: #343434;
}

.text-whiteg{
  color:  #dde1dc;
}

/*NAV BAR*/
.navigation-bar ul {
  border-radius: 4px;
  overflow: hidden;
}
.navigation-bar li {
  float: left;
}
.navigation-bar li:hover a::before {
  right: 0;
  left: 0;
}
.navigation-bar a {
  position: relative;
  transition: all 0.3s ease;
}
.navigation-bar a:hover {
  color: #e74c3c;
}
.navigation-bar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 1px;
  background-color: #b07800;
  min-width: 0px;
}
.navigation-bar a:hover::before {
  right: 0;
  left: 0;
}

.prodLines{
  background-color:#d49103;
}

.text-black{
  color: #323232;
}

/*HOVER EFFECTS ABOUT US PAGE*/
.hvr-float:hover {
  transform: translateY(8px);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/*hove to top INDEX.PHP*/
.hvr-sweep-to-top{
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
  border: #2f2f2f 1px solid;
  border-radius: 1px;
  border-bottom: #b07800 1px solid !important;


}
.hvr-sweep-to-top:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: /*#b07800*/ pink;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition: 300ms ease-out;
  transition: 300ms ease-out;
  font-color: yellow !important;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.hvr-sweep-to-top:hover:before{
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  border-radius: 1px;
  font-color: yellow !important;
  }

/*SHADOW TEXT TITLE ALL PAGES/INDEX*/
.shadow-img {
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.shadow-text {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

/*JUMBOTRON ABOUT US*/
.jumbotron {
  position:relative;
  overflow:hidden;
}

.jumbotron .container {
  position:relative;
  z-index:2;
  
  background:rgba(0,0,0,0.2);
  padding:3rem;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
}

.jumbotron-background {
  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  opacity:0.5;
}

img.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}
/*FOOTER COLOR ICON*/
  .icon-color{
    color: #337a96 !important;
  }
  
/*OUR LOCATION PAGE cavite makati title*/
.c {
  padding: 15px;
  margin-top: 30px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.1);
}

.c img {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 0 3px 20px 11px rgba(0, 0, 0, 0.09);
}

.c .top-sec {
  margin-top: -30px;
  margin-bottom: 15px;
}

/*.top-sec {
  font-weight: 350;
  background: url(image/bg1.png);
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
*/
.map-container-5{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-5 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.ugec{
  text-shadow: 2px 2px 15px #3A3A3A;
  font-weight: 700;
  font-size:14vw;
}

.full{
  text-shadow: 2px 2px 2px #3A3A3A;
  font-weight: 700;
  font-size:4vw;
}
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
